/* All elements CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Entire body CSS */
body {
    background-color: #dcfffd;
}

/* Header CSS */
header {
    padding: 15px 40px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2f373b;
    color: #00e9bd;
}

header h1 {
    color: #2f373b;
    display: inline-block;
    font-size: 48px;
    background-color: #00e9bd;
    padding-left: 50px;
    padding-right: 20px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

header nav ul li a {
    padding: 5px 10px;
    color: #00e9bd;
    font-size: 23px;
    text-decoration: none;
    border-bottom: 3px solid #00e9bd;
}

/* Section with background image */
.hero {
    background-image: url("../images/chevron.jpeg");
    background-size: contain;
    height: 200px;
}